body {
    background-color: #7c1dd4;
    font-family: Arial;
    color: #000000;
}

.contenedor{
    text-align: center;
}

.titulo{
    font-family: Arial;
    font-size: 60px;
    margin-bottom: 10px;
}

.subtitulo{
    font-size: 25px;
    font-family: Georgia;
}

.imagen{
    width: 300px;
    display: block;
    margin: auto;
    border-radius: 20px;
}

.sinopsis{
    font-size: 20px;
    max-width: 700px;
    margin: auto;
}

.izquierda{
  float: left;
  width:200px;
  border-radius: 20px;
}

.derecha{
  float: right;
  width:200px;
  border-radius: 20px;
  
}
